body { background-color: #6BC66B;
	
}

#logow {
	width: 200px;
	height: 200px;
}

#logos {
	transition: 0.4s;
	position: absolute; 
	width: 150px;
	height: 150px;
	left: 100px; 
	top: 20px;

}

#shape {
	position: absolute;
	width: 80%;
	height: 2853px;
	left: 10%;
	top: 190px;
	background: white;
	border-radius: 70px;
	z-index: 5;
	transition: 0.2s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
	position: absolute;
	width: 100%;
	height: 200px;
	left: 0px;
	top: 3200px;
	background: #626262;
	z-index: 90;
}

#header {
	position: fixed;
	padding: 70px 0px;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 99;
	background-color: #6BC66B;
	font-family: 'Poppins', sans-serif;
	font-size:8px;
	transition: 0.4s;
	color: white;
	
}
